$color: lightblue;
$font_family: "Arial"; 

section{
  border: 1px solid;
  margin: 10px;
}
nav ul li{
  display: inline;
  margin: 5px;
}
header,footer{
  font-family: $font_family;
  width: 100%;
  background-color: $color;
}
img{
  width: 300;
  height: 300;
  margin: 10px;
}
section h2{
  text-align: center;
}